/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
  --color-primary: #13ecc8;
  --font-display: Inter, sans-serif;
}

/* Global scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #020617; 
}

::-webkit-scrollbar-thumb {
    background: #1e293b; 
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #334155; 
}
